:root {
    --highlight-color: #eef0f1;
    --color-accent-fg: #0969da;
    
    --darkreader-bg--highlight-color: rgba(220, 224, 228, 0.1);
    --text-color: #57606a;
}

h1 code, h2 code, h3 code{
    font-size: inherit !important;
    padding: 0 0.2em !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
table {
    width: max-content;
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

th,
td {
    /* 짝수번째 row인걸 어떻게 알고 css적용한거지 */
    border: 1px solid #ccc;
    padding: 6px 13px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
